
<section class="hero is-light">
   <nav class="level p-3">
    <p class="level-item has-text-centered">
      <a [routerLink]="['/']" class="link is-info">Chercher un Film</a>
    </p>
    <p class="level-item has-text-centered">
      <img src="assets/images/logo.png" alt="" style="height: 30px;">
    </p>
    <p class="level-item has-text-centered">
        <a [routerLink]="['/liste']" class="link is-info">Liste des favoris</a>
      </p>
  </nav>
</section>