
<ul *ngFor="let fav of lesFavoris ; let i =index">
    <section class="columns is-mobile is-multiline is-centered mt-2">
      
        <div class="column box is-6 has-background-light mt-5">
          <a [routerLink]="['/film/', fav.id ]" class=" has-text-dark">
      <article class="media">
        
        <figure class="media-left">
          <p>
            <li><img src="https://image.tmdb.org/t/p/w500{{ fav.poster_path }}" width="150"></li>
          </p>
        
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
            <strong><li>{{ fav.title }}</li></strong>
              <br>
              <li>Date de sortie : {{ fav.release_date }}</li>
              <li>Synopsis : {{ fav.overview }} </li>
            </p>
          </div>
